extends ../../../layouts/pug/components/blocs/_bloquesProductoExpandido.pug
block blockGeneralProductoExpandido
    //- Ya se añadieron los mixins desde layouts al extends
block blockAnadirDetalles 
    .anadirDetallesPr
        .contenedorAnadirDetalles
            .bloqueBotonesCantidad
                button#flechaArriba
                button#flechaAbajo
            .bloqueCantidadAnadir
            button.iconoAnadir
        
